//-- Colors -------------------------------------------------------------------
$color-white-1:     #fff;
$color-white-2:     #e9ecef;
$color-grey-1:      rgba(0, 0, 0, 0.05);
$color-grey-2:      #f6f9fc;
$color-black-1:     #2c3e50;

//-- Backgrounds --------------------------------------------------------------
$bg-color--light:   $color-white-1;
$bg-color--grey:    $color-grey-2;


//-- Borders ------------------------------------------------------------------
$bdr-color--light:  $color-white-2;
$bdr-color--light2: $color-grey-1;


//-- Text ---------------------------------------------------------------------
$txt-color--light:  $color-white-1;
$txt-color--light2: $color-grey-1;
$txt-color--dark:   $color-black-1;
